%container{
	margin: 0 auto;		
	max-width: 950px;
    width: 100%;
}

.content{
	@extend %structure-basic;
	.container-content{
		@extend %container;
		height: 400px;
		// background-color: #8a2121;

		aside{
			width: 220px;
			max-width: 220px;
			// background-color: #f97;
			float: left;

			.menu-sidebar{
				float: left;
				ul {
					> li.menu{
						float: left;
					    height: 100%;
					    width: 100%;
						a {
							font-family: 'Trebuchet', sans-serif;
							background-color: #dfdfdf;
						    text-decoration: none;
						    text-align: left;
						    float: left;
						    color: $color-pattern-green;
							width: 204px;
    						padding: 10px 0px 10px 16px;
						}

					    ul.sub-menu{
					    	float: left;
					    	li{
							    background-color: #f3f3f3;
							    padding-top: 10px;
							    padding-bottom: 10px;
							    width: 183px;
    							padding-left: 37px;
							    border-top: 1px solid #fff;
    							border-bottom: 1px solid #dcdcdc;
    							color: $colo-font;
    							font-size: 14px;
    							i{
    								margin-right: 8px;
    								float: right;
    							}
					    	}
					    }
					}
					li.menu:first-of-type{
						a{							
							border-top-left-radius: 5px;
							border-top-right-radius: 5px;
						}
					}
				}
			}

			.marketing-content{
				float: left;
				.banners{
					li{
						@extend %structure-basic;
						margin: 20px 0;
						img{
							@extend %structure-basic;
						}
					}
					&:first-of-type{
						margin-top: 50px;
					}
				}
			}
		}

		.showcase {
			width: 709px;
			float: right;

			.title-showcase {
				@include titles(669px, 20px, 10px);
			}

			.cases-products {
					float: left;
				    display: flex;
				    padding-top: 30px;
				    flex-wrap: wrap;
				    width: 100%;
				.product {
					width: 174px;
				    height: 343px;
				    position: relative;
			        margin-bottom: 38px;
					.button-buy{
						display: none;
					}			        

				    .image {
	    	    		text-align: center;
					 	height: 139px;

						img {
							width: 130px;
						}
				    }

					.tag {
						@extend %tag;
					}

				    .description {
						padding: 10px 12px;
						float: left;
						position: absolute;
					    bottom: 0;
					    height: 163px;

						.product-title {
							@extend %structure-basic;
						    font-weight: bold;
						    margin: 10px 0;
						    width: 158px;
						    line-height: 18px;							    
						}

						.product-resume {
							font-size: 12px;
							color: $colo-font;
						    width: 158px;
						    line-height: 13px;								
						}

						.product-price {
						    width: 158px;
						    height: 42px;
						    line-height: 18px;
						    position: absolute;
						    bottom: 30px;
							.old-price{
								color: $colo-font;
								margin-top: 5px;
								margin-bottom: 5px;
								font-size: 14px;
							}
							.new-price{
								font-weight: bold;
								font-size: 14px;
								color: $color-pattern-green;
							}
						}

						.product-more {
							float: left;
						    bottom: 11px;
						    position: absolute;							
							a{
								text-decoration: none;
								color: $color-pattern-green;
								border-bottom: 1px solid $color-pattern-green;
							}
						}

				    }
				    &:hover{
				    	padding-top: 10px;
				    	background-color: #f4fff9;
    					box-shadow: 1px 2px 5px #b1b1b1;

    					.button-buy{
							width: 100%;
						    height: 37px;
						    display: block;
						    background: url(../../image/button-buy.png) no-repeat center/140px;
    					}

    					.tag{
    						display: none;
    					}
				    }
				}
			}
		}
	}
}