// Variables Header
$color-pattern-green: #4b9368;
$color-active-green: #adbe8b;
$background-active: #507550;
$color: #5c5956;
$color-inputs: #c8c8c6;
$background-input: #fbfcf7;
$border-buttons: #5d8c60;
$button-color: #70ae71;
$background-title-showcase: #dee8ac;
$colo-font: #666666;
